body {
    font-size: 16px;
}
.empty {
    font-family: 'Robot', sans-serif;
    font-size: 5em;
    text-align: center;
    margin: 20rem 0;
    color: #E3E5E8;
    /*text-shadow: 1px 3px 5px rgba(0, 0, 0, .2);*/
}